{% extends 'core/base.html' %}

{% block content %}
    <div class="mt-12 py-12 px-8">
        <h1 class="mb-6 text-4xl font-extrabold text-gray-800 leading-tight">About Chango</h1>

        <p class="text-lg text-gray-600 leading-relaxed">
            Welcome to a cutting-edge platform powered by Django and WebSockets. Our mission is to revolutionize online experiences through real-time communication and scalable architecture.
        </p>

        <p class="mt-4 text-lg text-gray-600 leading-relaxed">
            At Chango, we believe in the power of innovation. Our team of dedicated developers is committed to creating a seamless and secure environment for users to connect and interact in real-time.
        </p>

        <p class="mt-4 text-lg text-gray-600 leading-relaxed">
            Whether you're a developer exploring new technologies or a user seeking an immersive online experience, Chango is your gateway to the future of web communication.
        </p>
    </div>
{% endblock %}
