{% extends 'core/base.html' %}

{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col s12 m12 l10 offset-l1">
                {% if not request.user.is_authenticated %}
                    <div class="card-panel teal lighten-2 center-align">
                        <p class="flow-text text-gray-800 mb-4">
                            Login or sign up to create a room and start chatting!
                        </p>
                        <a href="/login/" class="waves-effect waves-light btn teal darken-3">Login</a>
                        <a href="/signup/" class="waves-effect waves-light btn teal darken-3">Sign Up</a>
                    </div>
                {% endif %}
                <div class="card-panel teal lighten-4">
                    <div class="row">
                        <div class="col s12 m4 mb-4">
                            <div class="center-align">
                                <h3 class="flow-text text-gray-800">Real-Time Updates</h3>
                                <p class="mb-0 text-gray-600">Django-channels empower Chango to provide real-time updates, enhancing user experience.</p>
                            </div>
                        </div>

                        <div class="col s12 m4 mb-4">
                            <div class="center-align">
                                <h3 class="flow-text text-gray-800">Scalable Architecture</h3>
                                <p class="mb-0 text-gray-600">Chango's architecture ensures scalability and reliability as your user base grows.</p>
                            </div>
                        </div>

                        <div class="col s12 m4 mb-4">
                            <div class="center-align">
                                <h3 class="flow-text text-gray-800">Secure Communication</h3>
                                <p class="mb-0 text-gray-600">Chango prioritizes security, ensuring safe and encrypted communication.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
