{% extends 'core/base.html' %}

{% block title %}Spaces | {% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row center-align">
        <div class="col s12">
            <h1 class="teal-text text-darken-4 flow-text">Spaces</h1>
        </div>
    </div>

    <div class="row">
        {% for space in spaces %}
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title teal-text text-darken-4">{{ space.name }}</span>
                        <p class="teal-text text-darken-2">{{ space.description }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{% url 'space' space.slug %}" class="teal-text text-darken-4">Join</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
