{% extends 'core/base.html' %}

{% block title %}{{ space.name }} | {% endblock %}

{% block content %}
<div class="container mx-auto">
    <div class="card white lighten-2 rounded">
        <div class="card-content">
            <div class="chat-messages" id="chat-messages">

            </div>
        </div>
    </div>
</div>

<div class="container mt-6">
    <form method="post" action="." class="row">
        <div class="input-field col s8">
            <input type="text" name="content" placeholder="Your message..." id="chat-message-input">
            <label for="chat-message-input">Your message...</label>
        </div>

        <div class="col s4">
            <button class="btn waves-effect waves-light teal" type="submit" id="chat-message-submit">Submit</button>
        </div>
    </form>
</div>

{% endblock %}

{% block scripts %}
{{ space.slug|json_script:"json-spacename" }}
{{ request.user.username|json_script:"json-username" }}

<script>
    const spaceName = JSON.parse(document.getElementById('json-spacename').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    
    const chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/' + spaceName + '/'
    )
    chatSocket.onmessage = function(e) {
        console.log('sendmsg')
        const data = JSON.parse(e.data);
        if(data.message) {
            document.querySelector('#chat-messages').innerHTML += ('<b>' + data.username + '</b>: ' + data.message + '<br>');
            } else {
            alert('empty message!')
        }
    }
    chatSocket.onclose = function(e) {
        console.log('closed')
    }

    document.querySelector('#chat-message-submit').onclick = function(e) {
        e.preventDefault();
        const msgInptDom = document.querySelector('#chat-message-input');
        const msg = msgInptDom.value;
        chatSocket.send(JSON.stringify({
            'message':msg,
            'username':userName,
            'space':spaceName
        }));
        msgInptDom.value = '';
        return false
    };

</script>
{% endblock %}